exportPattern("^[[:alpha:]]+")

importFrom("utils", "install.packages", "read.csv", "read.delim", "write.csv")

# Import necessary packages
import(DBI)
import(cld3)
import(ggplot2)
import(gridExtra)
import(httr)
import(lubridate)
import(mclust)
import(jsonlite)
import(openai)
import(pdftools)
import(readr)
import(reticulate)
import(RSQLite)
import(rvest)
import(SnowballC)
import(stringr)
import(tesseract)
import(tools)
import(urltools)
import(utils)
import(stats)
import(mockery)
import(XML)
import(stringi)
import(bestNormalize)
import(poweRlaw)
import(moments)
import(tibble)
